/* input.placeholder {
  text-align: center;
} */
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

.container1 {
  position: relative;
  width: 400px;
  height: 180px;
}
#imgAlongBar {
  position: relative;
  width: 180px;
  height: 100px;
}
.progress1 {
  position: absolute;
  top: 100px;
  right: 0;
  width: 200px;
  height: 80px;
}
.progress2 {
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  height: 80px;
}
#unlimit {
  position: absolute;
  top: 50px;
  left: 10%;
}
#lifeTimeText {
  position: absolute;
  top: 100px;
  left: 15%;
}
