.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.apple,
.orange,
.apple2,
.orange2,
.see,
.next,
.previous,
.reload,
.load1 {
  cursor: pointer;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: lightgrey;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
